@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Sacramento');
.table {
    width: 900px;
    margin: auto;
}
img {
    width: 200px;
}

.letter {
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    text-align: center;
}
