html {
  color: #555;;
  background-color: #e74c3c;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}

h1 {
  margin-bottom: 0;
  color: #333;
}

.container {
  background-color: #fff;
  width: 50%;
  margin: -1em auto;
  padding: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

li {
  list-style: none;
  
}