@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Roboto');
body {
    font-family: 'Roboto', sans-serif;
    background: #F0F0F0;
    margin: 0px;
    padding: 0px;
}
h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 40px;
}

p {
    color: #909090;
    font-size: 13px;
    border-bottom: solid 1px #CCC;
    display: block;
    padding: 0px 20px 20px 20px;
}

.searchbox {
    width: 500px;
    margin: auto;
}

.searchbox input#term {
    padding: 8px;
    font-size: 15px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #CCC;
    width: 300px;
}
.searchbox button {
    padding: 8px;
    font-size: 15px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #CCC;
    background: #CCC;
}
.center {
    width: 800px;
    margin: 0px auto 0px auto;
    background: #FFF;
    box-sizing: border-box;
    min-height: 400px;
}

img {
    margin: 20px 20px 0px 20px;
}

.box {
    width: 100px;
    height: 100px;
    margin: 20px 20px 0px 20px;
    display: inline-block;
    border: solid 1px #CCC;
    vertical-align: bottom;
    text-align: center;
    padding-top: 24px;
    color: #CCC;
    font-size: 16px;
    box-sizing: border-box;
}
